<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.demo.dao.impl.UserDaoImpl">
        <!--在UserDaoImpl类中注入普通类型，所以久写在该标签下-->
        <!--使用set方法注入都使用property标签，name属性表示UserDaoImpl类中要注入的属性名称，而value表示要注入的值，如果是引用数据类型则使用ref而不是value，普通数据类型使用value-->
        <property name="username" value="张三"></property>
        <property name="age" value="15"></property>
    </bean>
    <bean id="userService" class="com.demo.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
</beans>