<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--无参构造方法实例化-->
    <!--<bean id="userDao" class="com.demo.dao.impl.UserDaoImpl"></bean>-->

    <!--工厂静态方法实例化-->
    <!--<bean id="userDao" class="com.demo.factory.StaticFactory" factory-method="getUserDao"></bean>-->

    <!--工厂实例方法实例化-->
    <bean id="factory" class="com.demo.factory.DynamicFactory"></bean>
    <bean id="userDao" factory-bean="factory" factory-method="getUserDao"></bean>
</beans>