<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao" class="com.demo.dao.impl.UserDaoImpl">
        <!--注入集合数据类型中的List类型-->
        <property name="strList">
            <!--List集合其下用list标签-->
            <list>
                <!--list标签下存放要注入的集合内的数据，如果是普通数据类型，则用value标签，如果是引用数据类型，则用ref标签-->
                <value>aaa</value>
                <value>bbc</value>
                <value>ccc</value>
            </list>
        </property>
        <!--注入集合数据类型中的Map类型-->
        <property name="map">
            <!--Map集合其下用map标签-->
            <map>
                <!--map标签内是要注入的元素值，由entry标签包裹-->
                <!--key属性是键名，可以随便，而value-ref表示引用类型，需要用对应bean标签的id属性值，这里是下面的user1-->
                <entry key="u1" value-ref="user1"></entry>
                <entry key="u2" value-ref="user2"></entry>
            </map>
        </property>
        <!--注入Properties类型-->
        <property name="properties">
            <!--Properties类型使用props标签-->
            <props>
                <prop key="p1">pp1</prop>
                <prop key="p2">pp2</prop>
                <prop key="p3">pp3</prop>
            </props>
        </property>
    </bean>
    <!--需要注入实体类User-->
    <bean id="user1" class="com.demo.domain.User">
        <property name="name" value="张三"/>
        <property name="addr" value="山东"/>
    </bean>
    <bean id="user2" class="com.demo.domain.User">
        <property name="name" value="李四"/>
        <property name="addr" value="北京"/>
    </bean>
    <bean id="userService" class="com.demo.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
</beans>